<html>
{% block head %}
    <head>
        <title>
        {% block title %}HOME{% endblock  %}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="css/slider.css" type="text/css">
        <style>

        {% block css %}
         {% endblock %}
        </style>

{% load static %}


<link rel="stylesheet" href="{% static 'css/my.css' %}">
    </head>
{% endblock  %}
    <body>
    

    {% comment %} Top-header {% endcomment %}
        
        <header>
            <div class="container top-head">
                <div class="row">
                    <div class="sm-2">
                    <div class='email'><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">Contact@CertiPlus.Com</a></div>
                    </div>
                    
                    <div clas="sm-10">
                    <ul class="list-inline right">
                        <li class="list-inline-item"><a class="social-icon text-center" target="_blank" href="#">Find a Test Center</a></li>
                        <li class="list-inline-item"><a class="social-icon text-center" target="_blank" href="#">Validate Your Certificate</a></li>
                        <li class="list-inline-item"><a class="social-icon text-center" target="_blank" href="#">Contact Us</a></li>
                        <li class="list-inline-item"><a class="social-icon text-center" target="_blank" href="#">Enquiry</a></li>

                    </ul>
                    </div>


                </div>
               </div>
            </div>
       </header>

       {% comment %} second header {% endcomment %}
    <div class="container-fluid">
        <div class="row top-nemu">
            <div class="col-sm-2">
                <div class="logo"> <img src="/media/{{logo.logo.image}}"></div>
            </div>
            <div class="col-sm-2 menu">
            </div>
             <div class="col-sm-4"></div>

<!--            <div class="col-sm-2 menu">-->
<!--                <div class="dropdown"> -->
<!--                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>-->
<!--                     <li><a href="#">Level 1</a></li>-->
<!--                </div>-->
<!--            </div>-->
<!--             <div class="col-sm-4">-->
<!--                <div class="input-group_2">-->
<!--                <input type="text" placeholder="Search Certifications / Exams / Content by Name..." style="font-family: inherit !important;" class="typeahead form-control search_btn_width" data-provide="typeahead" autocomplete="off">-->
<!--                <div class="input-group-addon">-->
<!--                    <i class="fa fa-search"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--            </div>-->
            <div class="col-sm-2">
                <div class="wrap">
  <button class="button">Submit</button>
</div>
            </div>
            <div class="col-sm-2">
                    
                    <div>
                            <p data-toggle="modal" data-target="#MyLoginMix" onclick="BackToSelection()" class="pointer disply">
                                <img src="/media/images/user.png" class="margin_12">
                                <span style="padding: 20px;">CertiPlus</span><br>
                                <span style="margin-left: 28px;">LOGIN</span> <span>| SIGNUP</span>
                            </p>
                    </div>
                </div>


        </div>
    </div>  
    <nav class="social">
			<ul>
				<li><a href="">Twitter<span style="color: red !important;"><i class="fab fa-twitter"></i></span></a></li>
				<li class="fac"><a href="">Facebook <i class="fab fa-facebook-f"></i></a></li>
				<li><a href="">Linkedin <i class="fab fa-Linkedin"></i></a></li>
				<li><a href="">Instagram <i class="fab fa-instagram "></i></a></li>
				<li><a href="">pinterest<i class="fab fa-pinterest"></i></a></li>
			</ul>
		</nav>
    {% block Content  %}
   
    <script type="JavaScript/text">
     {% block script %}
    {% endblock script %}
    </script>
     
    {% endblock Content %}

    {% comment %} this is footer {% endcomment %}

       <footer class="footer">
    <div class="container-fluid footer-one">
       <div class="container ">
            <div class="row ft ">
                <div class="col-sm-2 ft ">
                    <p class="heding-footer">
                        <b>Platform</b>
                    </p>
                        <p>
                            <a href="#" class="menu_color">
                             Become a Test Center
                            </a>
                        </p>
                        <p>
                            <a href="#" class="menu_color">
                             Become a Test Center
                            </a>
                        </p>
                         <p>
                            <a href="#" class="menu_color">
                             Become a Test Center
                            </a>
                         </p>
                        <p>
                             <a href="#" class="menu_color">
                            Become a Test Center
                            </a>
                        </p>
                         <p>
                            <a href="#" class="menu_color">
                            Become a Test Center
                            </a>
                        </p>
                        <p>
                            <a href="#" class="menu_color">
                             Become a Test Center
                            </a>
                        </p>
                
                </div>
                <div class="col-sm-12 col-md-2 ft">
                    <p class="heding-footer">
                        <b>Platform</b>
                    </p>
                        <p>
                            <a href="#" class="menu_color">
                                 Become a Test Center
                            </a>
                        </p>
                        <p>
                            <a href="#" class="menu_color">
                                Become a Test Center
                            </a>
                        </p>
                         <p>
                            <a href="#" class="menu_color">
                                Become a Test Center
                            </a>
                         </p>
                        <p>
                            <a href="#" class="menu_color">
                                Become a Test Center
                            </a>
                        </p>
                         <p>
                            <a href="#" class="menu_color">
                                Become a Test Center
                            </a>
                        </p>
                        <p>
                            <a href="#" class="menu_color">
                             Become a Test Center
                            </a>
                        </p>
                
                </div>
                <div class="col-sm-12 col-md-2 ft ">
                    <p class="heding-footer">
                        <b>Platform</b>
                    </p>
                        <p>
                            <a href="#" class="menu_color">
                             Become a Test Center
                            </a>
                        </p>
                        <p>
                            <a href="#" class="menu_color">
                             Become a Test Center
                            </a>
                        </p>
                         <p>
                            <a href="#" class="menu_color">
                             Become a Test Center
                            </a>
                         </p>
                        <p>
                             <a href="#" class="menu_color">
                            Become a Test Center
                            </a>
                        </p>
                         <p>
                            <a href="#" class="menu_color">
                            Become a Test Center
                            </a>
                        </p>
                        <p>
                            <a href="#" class="menu_color">
                             Become a Test Center
                            </a>
                        </p>
                
                </div>
                <div class="col-sm-12 col-md-2 ft ">
                    <p class="heding-footer">
                        <b>Platform</b>
                    </p>
                        <p>
                            <a href="#" class="menu_color">
                             Become a Test Center
                            </a>
                        </p>
                        <p>
                            <a href="#" class="menu_color">
                             Become a Test Center
                            </a>
                        </p>
                         <p>
                            <a href="#" class="menu_color">
                             Become a Test Center
                            </a>
                         </p>
                        <p>
                             <a href="#" class="menu_color">
                            Become a Test Center
                            </a>
                        </p>
                         <p>
                            <a href="#" class="menu_color">
                            Become a Test Center
                            </a>
                        </p>
                        <p>
                            <a href="#" class="menu_color">
                             Become a Test Center
                            </a>
                        </p>
                
                </div>
                <div class="col-sm-12 col-md-4 ft">
                    <h1 class="certi_logo">
                        <span style="color:#faaa18;">Certi</span><span>Plus</span>
                    </h1>
                    <p class="logo_css">
                    Global Certification Programs
                  </p>
                </div> 
                
            <div>
        </div>
    </div>
       </footer>
    <div class="footer-meta" style="border-bottom: 1px solid #ddd;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="text-align:center">
                        <div class="copyright">© Copyright 2018 CertiPlus Global Certification Programs All Rights Reserved. </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-meta">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p><b>Disclaimer</b>  </p>
                        <ul>
                            <li style="color: #7691a4;font-size: 10px;"><p>PMP, PMI, PMBOK, CAPM, PgMP, PfMP, ACP, PBA, RMP, SP, and OPM3 are registered marks of the Project Management Institute, Inc.</p></li>
                        </ul>
                        <ul>
                            <li style="color: #7691a4;font-size: 10px;"><p>ITIL® is a [registered] trade mark of AXELOS Limited, used under permission of AXELOS Limited. All rights reserved.</p></li>
                        </ul>
                        <ul>
                            <li style="color: #7691a4;font-size: 10px;"><p>IT Infrastructure Library is a [registered] trade mark of AXELOS Limited used, under permission of AXELOS Limited. All rights reserved.</p></li>
                        </ul>
                        <ul>
                            <li style="color: #7691a4;font-size: 10px;"><p>The Swirl logo™ is a trade mark of AXELOS Limited, used under permission of AXELOS Limited. All rights reserved.<br></p></li>
                        </ul>
                        <ul>
                            <li style="color: #7691a4;font-size: 10px;"><p>PRINCE2® is a [registered] trade mark of AXELOS Limited, used under permission of AXELOS Limited. All rights reserved.<br></p></li>
                        </ul>
                        <ul>
                            <li style="color: #7691a4;font-size: 10px;"><p>MSP® is a [registered] trade mark of AXELOS Limited, used under permission of AXELOS Limited. All rights reserved.</p></li>
                        </ul>
                        <ul>
                            <li style="color: #7691a4;font-size: 10px;"><p>Certified ScrumMaster® (CSM) and Certified Scrum Trainer® (CST) are registered trademarks of SCRUM ALLIANCE®</p></li>
                        </ul>
                        <ul>
                            <li style="color: #7691a4;font-size: 10px;"><p>Professional Scrum Master is a registered trademark of Scrum.org</p></li>
                        </ul>
                        <ul>
                            <li style="color: #7691a4;font-size: 10px;"><p>The APMG-International Finance for Non-Financial Managers and Swirl Device logo is a trade mark of The APM Group Limited.</p></li>
                        </ul>
                        <ul>
                            <li style="color: #7691a4;font-size: 10px;"><p>The Open Group®, TOGAF® are trademarks of The Open Group.</p></li>
                        </ul>
                        <ul>
                            <li style="color: #7691a4;font-size: 10px;"><p>IIBA®, the IIBA® logo, BABOK® and Business Analysis Body of Knowledge® are registered trademarks owned by International Institute of Business Analysis.</p></li>
                        </ul>
                        <ul>
                            <li style="color: #7691a4;font-size: 10px;"><p>CBAP® is a registered certification mark owned by International Institute of Business Analysis. Certified Business Analysis Professional, EEP and the EEP&nbsp;<br></p></li>
                        </ul>
                        <ul>
                            <li style="color: #7691a4;font-size: 10px;"><p>logo are trademarks owned by International Institute of Business Analysis.</p></li>
                        </ul>
                        <ul>
                            <li style="color: #7691a4;font-size: 10px;"><p>COBIT® is a trademark of ISACA® registered in the United States and other countries.</p></li>
                        </ul>
                        <ul>
                            <li style="color: #7691a4;font-size: 10px;"><p>CISA® is a Registered Trade Mark of the Information Systems Audit and Control Association (ISACA) and the IT Governance Institute.</p></li>
                        </ul>
                        <ul>
                            <li style="color: #7691a4;font-size: 10px;"><p>CISA® is a Registered Trade Mark of the Information Systems Audit and Control Association (ISACA) and the IT Governance Institute.</p></li>
                        </ul>
                        <ul>
                            <li style="color: #7691a4;font-size: 10px;"><p>CISSP® is a registered mark of The International Information Systems Security Certification Consortium ((ISC)2).</p></li>
                        </ul>
                        <ul>
                            <li style="color: #7691a4;font-size: 10px;"><p>CISCO®, CCNA®, and CCNP® are trademarks of Cisco and registered trademarks in the United States and certain other countries.</p></li>
                        </ul>
                        <ul>
                            <li style="color: #7691a4;font-size: 10px;"><p>CertiPlus and its affiliates, predecessors, successors and assigns are in no way associated, sponsored or promoted by SAP SE and neither do they provide any SAP based online or real-time courses or training</p><div><br></div></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>