<div class="row padding_row2">
        <div class="col-sm-12">
            <h2 class="text-center Heading_Font" style="padding-bottom: 3%;"><b>Grow Yourself with CertiPlus</b> </h2>
            <div class="center_Topborder"></div>
            <p class="pull-left"></p><p><span style="color: rgb(121, 121, 121); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 10px; letter-spacing: normal; text-align: justify;">CertiPlus Global Certification Programs is a Multinational Association</span><br></p><p></p>
                <div class="col-sm-4  Please Select">
                    <div style="height: 240px;margin-bottom: 9%;background-color:#8080ff;color:#ffffff">
                        <div class="cblock" style="background-color:#8080ff;color:#ffffff">
                                <h3 class="Develop_Background">Develop as a professional</h3>
                            <div class="pull-right" style="position: absolute;bottom: 0;right: 30px;">
                                <a href="../../Develop-as-a-Professional" class="TellMeMore_Backgroundcolor">TELL ME MORE</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4  Please Select">
                    <div style="height: 240px;margin-bottom: 9%;background-color:#06ffff;color:#000000">
                        <div class="cblock" style="background-color:#06ffff;color:#000000">
                                <h3 class="Develop_Background">Empower Your Workforce	</h3>
                            <div class="pull-right" style="position: absolute;bottom: 0;right: 30px;">
                                <a href="../../Empower-Your-Workforce" class="TellMeMore_Backgroundcolor">TELL ME MORE</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4  Please Select">
                    <div style="height: 240px;margin-bottom: 9%;background-color:#ff80ff;color:#000000">
                        <div class="cblock" style="background-color:#ff80ff;color:#000000">
                                <h3 class="Develop_Background">For Training Organizations</h3>
                            <div class="pull-right" style="position: absolute;bottom: 0;right: 30px;">
                                <a href="../../For-Training-Organizations" class="TellMeMore_Backgroundcolor">TELL ME MORE</a>

                            </div>
                        </div>
                    </div>
                </div>
            <div style="float: right;">
                <p class="pull-right"></p><p><span style="color: rgb(121, 121, 121); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 10px; letter-spacing: normal; text-align: justify;">Professionals keep appearing for the Certifications all over from USA, Europe and Asia.</span><br></p><p></p>
            </div>
        </div>
    </div>


    <div class="BookExam_Back3">
    <div class="BannerBack2">
        <div class="container">
            <div class="row">
                <div>
                    
                    <h3 class="HeadingCer_Color">Detailed Information</h3>
                </div>
            </div>
        </div>
    </div>
</div>